<html>
<link crossorigin="anonymous" media="all" rel="stylesheet" href=".\style.css" />
<script type="text/javascript">
let i = 0;
const refresh_rate = 1000
function refresh(){
i++;
const xhttp = new XMLHttpRequest();
xhttp.onload = function(){update(this);}
xhttp.open("GET", "result");
xhttp.send();
console.log(i);
}
function update(data){
	const res = data.responseText;
	document.getElementById('result_data').innerHTML = res;
	document.getElementById('pollid').innerHTML = i;
}
var timer = setInterval(refresh, refresh_rate);
</script>
<body>
    <h1>
        Controller IP:{{ip}} TAG: {{tag}}
    </h1>
    <p id="pollid">Poll number</p>
	<p id="result_data">result data</p>
	<a id="resultlink" href=".\result">Get Current Value</a>
	<a id="configlink" href=".\config">Configure Tag(s)</a>
</body>
</html>